@page
@model IndividualAccount.Pages.Item.IndexModel

<h2>Item list</h2>

<a asp-page="Create" class="btn btn-primary" >Create new item</a>

<table class="table" >
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			@if (Model.IsAdmin)
			{
				<th>Created by</th>
				<th>Edit by</th>
				<th>Deleted by</th>
			}
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Items)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.Description</td>
				@if (Model.IsAdmin)
				{
					<td>@item.CreatedBy?.UserName</td>
					<td>@item.ModifiedBy?.UserName</td>
					<td>@item.DeletedBy?.UserName</td>
				}
				<td>
					<a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-waring">Edit</a>
					<a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-warning">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
