@page
@model IndividualAccount.Pages.DistintaBase.IndexModel

<h2>Item list</h2>

<a asp-page="Create" class="btn btn-primary">Create new item</a>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Amount</th>
			<th>Version</th>
			<th>Actions</th>
			@if (Model.IsAdmin)
			{
				<th>Is Deleted</th>
				<th>Created by</th>
				<th>Edit by</th>
				<th>Deleted by</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var distintabase in Model.DistinteBase)
		{
			foreach (var versionedistintabase in Model.VersioniDistintaBase)
			{
				foreach (var item in Model.Items)
				{
					<tr>
						@if (!Model.IsAdmin && distintabase.IdFiglio == item.Id && distintabase.IdVersione == versionedistintabase.Id && !distintabase.IsDeleted)
						{
							<td>@item.Name</td>
							<td>@distintabase.Quantita</td>
							<td>@versionedistintabase.Versione</td>
							<td>
								<a asp-page="Edit" asp-route-id="@distintabase.Id" class="btn btn-warning">Edit</a>
								<a asp-page="Delete" asp-route-id="@distintabase.Id" class="btn btn-danger">Delete</a>
							</td>
						}
						@if (Model.IsAdmin && versionedistintabase.IdProduct == item.Id && distintabase.IdVersione == versionedistintabase.Id)
						{
							<td>@item.Name</td>
							<td>@distintabase.Quantita</td>
							<td>@versionedistintabase.Versione</td>
							<td>
								<a asp-page="Edit" asp-route-id="@distintabase.Id" class="btn btn-warning">Edit</a>
								<a asp-page="Delete" asp-route-id="@distintabase.Id" class="btn btn-danger">Delete</a>
							</td>
							@if (distintabase.IsDeleted)
							{
								<td>Deleted</td>
							} else
							{
								<td>Not deleted</td>
							}
							<td>@distintabase.CreatedBy?.UserName</td>
							<td>@distintabase.ModifiedBy?.UserName</td>
							<td>@distintabase.DeletedBy?.UserName</td>
						}
					</tr>
				}
			}
		}
	</tbody>
</table>