@page
@model IndividualAccount.Pages.VersioneDistintaBase.IndexModel

<a asp-page="Create" class="btn btn-primary" >Create new item</a>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Versione</th>
			<th>Action</th>
			@if (Model.IsAdmin)
			{
				<th>Is Deleted</th>
				<th>Created by</th>
				<th>Edit by</th>
				<th>Deleted by</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.VersioneDistintaBase)
		{
			<tr>
				@if (!Model.IsAdmin)
				{
					@foreach (var element in Model.Items)
					{
						@if (element.Id == item.Id && !item.IsDeleted)
						{
							<td>@element.Name</td>
							<td>@item.Versione</td>
							<td>
								<a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
								<a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-warning">Delete</a>
							</td>
						}
					}
				}
				@if (Model.IsAdmin)
				{
					@foreach (var element in Model.Items)
					{
						if (element.Id == item.Id)
						{
							<td>@element.Name</td>
							<td>@item.Versione</td>
							<td>
								<a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
								<a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-warning">Delete</a>
							</td>

							@if (item.IsDeleted)
							{
								<td>Deleted</td>
							} else
							{
								<td>Not Deleted</td>
							}

							<td>@item.CreatedBy?.UserName</td>
							<td>@item.ModifiedBy?.UserName</td>
							<td>@item.DeletedBy?.UserName</td>
						}
					}
				}
			</tr>
		}
	</tbody>
</table>